#error-message-div {
    align-content: center;
    display: block;
    margin-top: 10vh;
    text-align: center;
}

.error-message {
    text-align: center;
    font-size: 3rem;
    margin: 5vh;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#error-gif {
    align-items: center;
    display: inline-block;
    width: 30rem;
}

/* Hide things that should not be displayed in the error page */
#search-results-header-div {
    display: none;
}

@media screen and (max-width: 1700px) {
    #error-message-div {
        margin-top: 2vh;
    }
}

@media screen and (max-width: 900px) {
    #error-gif {
        width: 100%
    }
}

#about-link-div {
    display: none;
}