.container {
    text-align: center;
    align-items: center; /* Vertically align items */
}

#heading {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: center; /* Horizontally align items */
    margin-top: 24vh;
}

#title-image {
    height: 8vh;
    max-width: 100%;
}

#search-div {
    margin: auto;
    margin-top: 7.5vh;
    width: 48vw;
    height: 7vh;
    max-height: 100%;
    max-width: 100%;
}

#search-submit-button {
    border-color: #CED4DA;
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;
    width: 3vw;
    height: 5.5vh;
}

#search-icon {
    height: auto;
    width: 60%;
    max-width: 100%;
    max-height: 100%;
}

.form-control {
    font: arial,sans-serif;
    font-size: 1.5vh;
    border-radius: 1.5vh;
    height: 5.5vh;
}

.empty-input {
    border-color: red;
    box-shadow: 0 0 0 .5rem rgba(255, 0, 0, 0.25);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.disclaimer {
    margin-bottom: 0px;
    position: fixed; /* Position relative to the viewport */
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align to the left edge of the viewport */
    width: 100%; /* Full width */
    background-color: #d9d9d9; /* Background color */
    padding: 3px; /* Padding for better readability */
    text-align: center; /* Center text horizontally */
    font-size: 1.5vh;
    font-style: italic;
}

@media screen and (max-width: 1700px) {
    #title-image {
        height: 10vh;
    }

    #search-div {
        width: 50vw;
    }

    #search-submit-button {
        height: 7vh;
    }

    #search-icon {
        width: auto;
    }

    .form-control {
        font-size: 2vh;
        height: 7vh;
    }

    .disclaimer {
        font-size: 1.8vh;
    }
}