.container {
    text-align: center;
    align-items: center; /* Vertically align items */
}

#heading {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: center; /* Horizontally align items */
    margin-top: 28vh;
}

#title-image {
    width: 26rem;
    max-width: 100%;
    object-fit: contain;
}

#search-div {
    margin: auto;
    margin-top: 3vh;
    width: 50rem;
    max-height: 100%;
    max-width: 100%;
}

#search-buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
}

.btn {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 1rem;
    transition: border-color 0.1s ease;
}

.btn:hover {
    color: black;
    background-color: transparent;
    border-color: #CED4DA;
}

#search-submit-button {
    border-radius: 3vh;
    min-width: 2rem;
    height: 3em;
    min-height: 2.5rem;
    display: inline;
    margin-right: 1rem;
}

#random-search-button {
    border-radius: 3vh;
    min-width: 2rem;
    height: 3em;
    min-height: 2.5rem;
    display: inline;
    margin-right: 0.5rem;
}

/* Container for the button content */
.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-button-text {
    margin-right: 0.7em;
}

#search-icon {
    display: block;
    height:1.5rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.form-control {
    font-family: arial, sans-serif;
    font-size: 1.5vh;
    border-radius: 3vh;
    height: 3rem;
    min-height: 2.5rem;
    text-indent: 0.5vw;
}

.empty-input {
    border-color: red;
    box-shadow: 0 0 0 .5rem rgba(255, 0, 0, 0.25);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color .5s ease;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Loading screen background color for non-touchscreen devices */
@media (hover: hover) and (pointer: fine) {
    .loader-wrapper-hover:hover{
        background-color: #242f3f;
        transition: background-color .5s ease;
    }
}

/* Loading screen background color for touchscreen devices */
@media (hover: none) and (pointer: coarse) {
    .loader-wrapper-hover{
        background-color: #242f3f;
        transition: background-color .5s ease;
    }
}

.loader {
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    display: none;
}

.loader-inner {
    vertical-align: top;
    width: 100%;
    background-color: #fff;
    display: none;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

.disclaimer {
    display: none;
    margin-bottom: 0px;
    position: fixed; /* Position relative to the viewport */
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align to the left edge of the viewport */
    width: 100%; /* Full width */
    background-color: #d9d9d9; /* Background color */
    padding: 3px; /* Padding for better readability */
    text-align: center; /* Center text horizontally */
    font-size: 1.5vh;
    font-style: italic;
}

@media screen and (max-width: 1700px) {
    .form-control {
        font-size: 2vh;
    }
    
    #title-image {
        width: 24rem;
    }

    #search-div {
        width: 50rem;
    }

    #search-icon {
        width: auto;
    }

    .disclaimer {
        font-size: 1.8vh;
    }
}

@media screen and (max-width: 1200px) {
    #title-image {
        width: 23rem;
    }
}

@media screen and (max-width: 600px) {
    #title-image {
        width: 14rem;
    }

    .disclaimer {
        font-size: 1vh;
    }
}