#search-results {
    margin-top: 8.5vh; /* Adjust margin to leave space for the fixed header */
    padding-bottom: 1vh; /* Adjust padding to leave space for the fixed footer */
}

#search-results-header-div {
    margin: auto;
    width: 50vw;
}

#search-results-header {
    margin-left: 0.5vw;
    font-size: 1.5vh;
    color: #636363;
}

.search-result {
    border: solid 0.2vh #D0D7DE;
    border-radius: 1.5vh;
    padding-top: 0.6vh;
    padding-bottom: 0vh;
    margin: auto;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    width: 50vw;
    overflow-x: hidden;
}

.search-result-content {
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.title-div {
    display: inline-flex;
}

.title {
    font-size: 1.5vh;
    white-space: nowrap;
    font-weight: 600;
    text-decoration: none;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.avatar {
    width: 2vh;
    height: 2vh;
    float: left;
    margin-right: 0.5vw;
    margin-top: 0.25vh;
    cursor: pointer;
}

.description {
    font-size: 1.35vh;
    color: black;
    font-weight: 500;
    margin-top: 0.5vh;
    margin-bottom: 0;
}

.description .see-more {
    font-weight: 600;
    font-style: italic;
}

.topics {
    margin-top: 1vh;
    font-size: 1vh;
    border-radius: 3em;
    line-height: 1.2vh;
    background-color: #DDF4FF;
    color: #0969da;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
}

.topics:hover {
    cursor: pointer;
    background-color: #0969DA;
    color: white;
    box-shadow: 5px 5px 1px #d9d9d9;
}

.topic-link {
    color: #0969da;
    text-decoration:none;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.topic-link:hover {
    color: white;
    text-decoration:none;
}

.bottom-div {
    position: relative;
    margin-top: 0.8vh;
    margin-bottom: 1vh;
    z-index: 1;
}

.language-icon {
    height: 1.5vh;
    margin-right: 0.15vw;
    margin-bottom: 0.4vh;
}

.language {
    display: inline;
    margin-top: 1vh;
    font-size: 1.2vh;
    color: #5e5e5e;
}

.license {
    display: inline;
    font-size: 1.2vh;
    color: #5e5e5e;
}

.license-link {
    text-decoration:none;
    color: #5e5e5e;
}

.license-link:hover {
    text-decoration:underline;
    color: #5e5e5e;
}

.homepage {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50ch;
    font-size: 1.2vh;
    margin-top: 0.1vh;
}

.updated-at {
    display: inline;
    position: absolute;
    margin-top: 1vh;
    font-size: 1.2vh;
    color: #5e5e5e;
    right: 0;
    bottom: -1.8vh;
}

@media screen and (max-width: 1700px) {
    #search-results-header-div {
        width: 60vw;
    }

    #search-results-header {
        font-size: 2vh;
    }

    .search-result {
        width: 60vw;
    }

    .title {
        font-size: 2vh;
    }

    .avatar {
        width: 2.5vh;
        height: 2.5vh;
    }

    .description {
        font-size: 1.8vh;
    }

    .topics {
        font-size: 1.4vh;
    }

    .language {
        font-size: 1.8vh;
    }

    .language-icon {
        height: 2vh;
    }

    .license {
        font-size: 1.6vh;
    }

    .homepage {
        font-size: 1.6vh;
    }

    .updated-at {
        font-size: 1.5vh;
    }
}

@media screen and (max-width: 400px) {
    #search-results-header {
        font-size: 1.2vh;
    }

    .title {
        font-size: 1vh;
    }

    .avatar {
        width: 1.5vh;
        height: 1.5vh;
    }

    .description {
        font-size: 0.85vh;
    }

    .topics {
        font-size: 0.75vh;
        margin-top: 0.1vh;
    }

    .language {
        font-size: 0.75vh;
    }

    .language-icon {
        height: 1vh;
    }

    .license {
        font-size: 0.75vh;
    }

    .homepage {
        font-size: 0.75vh;
    }
}

@media screen and (max-width: 900px) {
    .topics {
        font-size: 1.2vh;
    }

    .updated-at {
        visibility: hidden;
    }
}

@media screen and (max-height: 700px) {
    .language-icon {
        margin-bottom: -0.3vh;
    }
}
