header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    min-height: 45px;
    border-bottom: 0.3vh solid #d9d9d9;
    background-color: white;
    z-index: 1000;
}

.container {
    margin: auto;
}

#logo {
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
}

#logo:hover {
    cursor: pointer;
}

#search-form {
    position: absolute; /* Change position to absolute */
    top: 25%; /* Position the form relative to the bottom edge of the header */
    left: 50%; /* Position the form horizontally centered within the header */
    transform: translateX(-50%); /*Adjust horizontally to center */
    width: 80vw;
}

.form-control {
    font: arial,sans-serif;
    font-size: 1.5vh;
    border-radius: 1vh;
    text-indent: 0.1vw;
    height: 4vh;
    min-height: 4vh;
}

.empty-input {
    border-color: red;
    box-shadow: 0 0 0 .35rem rgba(255, 0, 0, 0.25);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#search-bar {
    margin: auto;
    font-size: 2vh;
    min-height: 4vh;
}

#search-submit-button {
    border-color: #CED4DA;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    height: 4vh;
    min-height: 4vh;
}

#search-submit-button:hover {
    cursor: pointer;
}

#search-icon {
    display: block;
    height: 2vh;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#search-icon:hover {
    cursor: pointer;
}

.pages {
    padding-bottom: 5vh;
    margin: auto;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.page {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5vh;
    min-width: 1.1vw;
    color: black;
    margin: 0.1vw; /* Margin between page numbers */
    position: relative;
    overflow: hidden; /* Hide overflow to prevent overflow issues */
}

/* Create the bottom line effect when hovering over a page number */
.page::before {
    content: ''; /* Add content to create the pseudo-element */
    position: absolute; /* Position the pseudo-element */
    left: 50%; /* Move it to the center */
    bottom: 0; /* Align it to the bottom */
    width: 0; /* Initially, the width is 0 */
    height: 0.15vh; /* Height of the border */
    background-color: #316DCA; /* Color of the border */
    transition: width 0.3s ease, left 0.3s ease; /* Transition effect */
    border-bottom: solid 0.2vh #316DCA;
}

.page:hover::before {
    left: 0; /* Move the pseudo-element to the left edge */
    width: 100%; /* Expand the width to 100% on hover */
}

.current-page {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5vh;
    min-width: 1.1vw;
    color: black;
    margin: 0.1vh; /* Margin between page numbers */
    position: relative;
    overflow: hidden; /* Hide overflow to prevent overflow issues */
    border-bottom: solid 0.3vh #174AE4;
    color: #0A58CA;
}

/* Button to change page by one.  <-  -> */
.turn_page_button {
    height: 2.2vh;
    margin-bottom: 0.4vh;
}
/* https://www.flaticon.com/free-icon/arrow-right_1549454?term=next&page=1&position=16&origin=search&related_id=1549454 */

.disclaimer {
    margin-bottom: 0px;
    position: fixed; /* Position relative to the viewport */
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align to the left edge of the viewport */
    width: 100%; /* Full width */
    background-color: #d9d9d9; /* Background color */
    padding: 3px; /* Padding for better readability */
    text-align: center; /* Center text horizontally */
    font-size: 1.5vh;
    font-style: italic;
    z-index: 1000;
}

@media screen and (max-width: 1700px) {
    #logo {
        height: 4.5vh;
    }

    .pages {
        padding-bottom: 6.5vh;
    }
    
    .page {
        font-size: 2vh;
    }

    .current-page {
        font-size: 2vh;
    }

    .disclaimer {
        font-size: 2vh;
    }
}

@media screen and (max-width: 1050px) {
    .disclaimer {
        font-size: 1.5vh;
    }
}

@media screen and (max-width: 800px) {
    .page {
        font-size: 1.2vh;
    }

    .current-page {
        font-size: 1.2vh;
    }

    .turn_page_button {
        height: 2vh;
    }

    .disclaimer {
        font-size: 1.2vh;
    }
}

@media screen and (max-width: 600px) {
    .disclaimer {
        font-size: 0.85vh;
    }
}

@media screen and (max-width: 400px) {
    .page {
        font-size: 0.6vh;
    }

    .current-page {
        font-size: 0.6vh;
    }

    .turn_page_button {
        visibility: hidden;
    }

    .disclaimer {
        font-size: 0.8vh;
    }
}