<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WRC7VZ6LR5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WRC7VZ6LR5');
        </script>
        <!-- Microsoft Clarity Analytics -->
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "mrv0v1lojg");
        </script>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="About Code Finder" />
        <meta
            name="description"
            content="A search engine for effortless search for everything on GitHub! Discover code and repositories on GitHub with Code Finder! A powerful search engine made by developers for developers"
        />
        <meta name="robots" content="index, follow">
        <!-- Open Graph protocol tags (https://ogp.me/) -->
        <meta property="og:title" content="About Code Finder" />
        <meta property="og:site_name" content="About Code Finder" />
        <meta
            property="og:description"
            content="A search engine for effortless search for everything on GitHub! Discover code and repositories on GitHub with Code Finder! A powerful search engine made by developers for developers"
        />
        <meta
            property="og:image"
            itemprop="image"
            content="https://codefinder.dev/static/assets/icon.png"
        />
        <meta property="og:image:alt" content="Code Finder logo" />
        <meta
            property="og:logo"
            content="https://codefinder.dev/static/assets/icon.png"
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://codefinder.dev/" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@Daniel_Dekhtyar" />
        <meta name="twitter:creator" content="@Daniel_Dekhtyar" />
        <meta name="twitter:title" content="About Code Finder" />
        <meta
            name="twitter:description"
            content="A search engine for effortless search for everything on GitHub! Discover code and repositories on GitHub with Code Finder! A powerful search engine made by developers for developers"
        />
        <meta
            name="twitter:image"
            content="https://codefinder.dev/static/assets/icon.png"
        />
        <meta name="twitter:image:alt" content="Code Finder logo" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="static/css/contact_me.css" />
        <!-- Favicon -->
        <link rel="icon" href="static/assets/icon.png" />
        <!-- Title -->
        <title>Contact Code Finder</title>
    </head>
    <header>
        <!-- Code Finder Logo -->
        <a class="logo" href="/">
        <img
            class="logo"
            alt="Code Finder Logo"
            title="Code Finder home page"
            src="static/assets/icon.png"
        />
        </a>
        <h1 id="page-header">Contact Code Finder</h1>
    </header>
    <body>
        <div id="header-buffer-div"></div>
        <div class="container">
            <h1>Contact Me</h1>
            <form id="contact-form" class="contact-form">
                <label for="Name">Name:</label>
                <input type="text" id="name" name="Name" required>
                <label for="Email">Email:</label>
                <input type="email" id="email" name="Email" required>
                <label for="Message">Message:</label>
                <textarea id="message" name="Message" rows="10" required></textarea>
                <button type="submit">Send</button>
            </form>
            <div id="popup" class="popup"></div>
            <div id="powered-by-formspree-div">
            <p>Powered by </p>
            <a class="formspree-img" href="https://formspree.io/">
            <img class="formspree-img" src="static/assets/formspree.png" alt="Powered by Formspree" >
            </a>
            </div>
        </div>
    
        <!-- Popup Modal -->
        <div id="popup-modal" class="popup-modal">
            <div class="popup-content">
                <p id="popup-message"></p>
            </div>
        </div>

        <script src="static/js/contact_me.js"></script>
    </body>
    <footer id="footer">
        <!-- Footer links -->
        <p class="footer-link">
            <a class="footer-link" href="/">Search</a>
        </p>
        <p class="footer-link">
            <a class="footer-link" href="/about">About this website</a>
        </p>
        <p id="trademark">Made with ❤️ by <a id="made-with-love-link" role="link" title="My LinkedIn" href="https://www.linkedin.com/in/daniel-dekhtyar/" target="_blank">developers</a> for <a id="made-with-love-link" role="link" title="Steve Ballmer developers developers developers" href="https://www.youtube.com/watch?v=hMLcKtVwF-A" target="_blank">developers</a>&emsp;|&emsp;Code Finder&trade;</p>
    </footer>
</html>
