<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google AdSense -->
        <meta name="google-adsense-account" content="ca-pub-8736409690385309">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8736409690385309"
        crossorigin="anonymous"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WRC7VZ6LR5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WRC7VZ6LR5');
        </script>
        <!-- Microsoft Clarity Analytics -->
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "mrv0v1lojg");
        </script>
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="static/css/index.css" />
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="Code Finder" />
        <meta name="description" content="A search engine for effortless search for everything on GitHub! Discover code and repositories on GitHub with Code Finder! A powerful search engine made by developers for developers" />
        <meta name="robots" content="index, follow">
        <!-- Canonical URL for SEO page indexing -->
        <link rel="canonical" href="https://codefinder.dev" />
        <!-- Open Graph protocol tags (https://ogp.me/) -->
        <meta property="og:title" content="Code Finder" />
        <meta property="og:site_name" content="Code Finder" />
        <meta property="og:description" content="A search engine for effortless search for everything on GitHub! Discover code and repositories on GitHub with Code Finder! A powerful search engine made by developers for developers" />
        <meta property="og:image" itemprop="image" content="https://codefinder.dev/static/assets/icon.png" />
        <meta property="og:image:alt" content="Code Finder logo" />
        <meta property="og:logo" content="https://codefinder.dev/static/assets/icon.png" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://codefinder.dev/" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@Daniel_Dekhtyar" />
        <meta name="twitter:creator" content="@Daniel_Dekhtyar" />
        <meta name="twitter:title" content="Code Finder" />
        <meta name="twitter:description" content="A search engine for effortless search for everything on GitHub! Discover code and repositories on GitHub with Code Finder! A powerful search engine made by developers for developers" />
        <meta name="twitter:image" content="https://codefinder.dev/static/assets/icon.png" />
        <meta name="twitter:image:alt" content="Code Finder logo" />
        <!-- Favicon -->
        <link rel="icon" href="static/assets/icon.png" />
        <!-- Title -->
        <title>Code Finder</title>
    </head>
    <body>
        <div id="loader-wrapper" class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
        <div class="container">
            <div id="heading">
                <!-- Title image -->
                <img id="title-image" alt="Code Finder Logo" src="static/assets/transparent title with description.png" />
            </div>

            <!-- Search form -->
            <form id="search-form" action="/search" method="GET" role="form" onsubmit="return validateForm()">
                <div class="input-group mb-3 input-group-prepend" id="search-div">
                    <!-- Search bar -->
                    <input
                        class="form-control"
                        aria-describedby="basic-addon1"
                        id="search-bar"
                        name="q"
                        type="search"
                        role="searchbox"
                        autocomplete="off"
                        autofocus
                        placeholder="Find any repository on GitHub! Just type and hit enter..."
                    />
                </div>
                
                <!-- Hidden inputs to store filter values -->
                <input type="hidden" name="language" id="selected-languages">
                <input type="hidden" name="author" id="selected-author">
                <input type="hidden" name="last_update" id="selected-last-update">
                <input type="hidden" name="stars" id="selected-stars">

                <p id="where-to-start-text">Don't know where to start? Just hit "I'm feeling lucky"</p>
                
                <!-- Buttons -->
                <div id="search-buttons">
                    <!-- Filter button -->
                    <button
                        type="button"
                        role="button"
                        class="btn"
                        id="filter-button"
                        onmouseover="hoverFilterButton();"
                        onmouseout="unhoverFilterButton();"
                        onpointerdown="hoverFilterButton();"
                        onpointerout="unhoverFilterButton();"
                        onclick="openFilterModal();"
                    >
                    <span class="button-content">
                        <span class="button-text" id="search-button-text">Filter</span>
                        <img
                            type="image"
                            id="filter-icon"
                            class="filter-icon, search-icons"
                            alt="Filter"
                            src="static/assets/filter.png"
                        >
                    </span>
                    </button>

                    <!-- Random search button -->
                    <button
                        type="button"
                        role="button"
                        class="btn"
                        id="random-search-button"
                        onclick="randomSearch();"
                        onmouseover="hoverRandomSearchButton();"
                        onmouseout="unhoverRandomSearchButton();"
                        onpointerdown="hoverRandomSearchButton();"
                        onpointerout="unhoverRandomSearchButton();"
                    >
                        <span class="button-content">
                            <span class="button-text", id="search-button-text">I'm feeling lucky</span>
                            <img
                                type="image"
                                id="dice-icon"
                                alt="Dice random search"
                                src="static/assets/dice.png"
                            >
                        </span>
                    </button>

                    <!-- Search button -->
                    <button
                        type="submit"
                        role="button"
                        class="btn"
                        id="search-submit-button"
                        onmousedown="clickSearchButton();"
                        onmouseup="unclickSearchButton();"
                        onmouseover="clickSearchButton();"
                        onmouseout="unclickSearchButton();"
                        onpointerdown="clickSearchButton();"
                        onpointerup="unclickSearchButton();"
                    >
                    <span class="button-content">
                        <span class="button-text" id="search-button-text">Search</span>
                        <img
                            id="search-icon"
                            class="search-icons"
                            alt="Search"
                            src="static/assets/search_black.png"
                        >
                    </span>
                    </button>
                </div>
            </form>
            <!-- <div id="trending-container">
                <h1 id="trending">Trending 🔥 : <a id="trending_link" role="link" title="Google Agent Development Kit" href="https://codefinder.dev/search?q=Agent+Development+Kit+%28ADK%29+by+Google&language=&author=Google&last_update=&stars=" onclick="loading_screen()">Agent Development Kit (ADK) by Google</a> 🤖</h1>
            </div> -->
        </div>

        <!-- Help Needed Section -->
        <div id="help-needed-div" class="help-needed-div">
            <div class="help-needed-title">
                Your help is needed <span class="help-needed-emoji">❗</span>
            </div id="help-needed-text" class="help-needed-text">
                The domain for CodeFinder is up for renewal on <b>May 1st</b>, and combined with hosting costs, I need <b>$103.16</b> to keep the site alive for another year. <br>
                $<a role="link" target="_blank" href="static/assets/namecheap.png">19.16 for the domain via Namecheap</a> and $<a role="link" target="_blank" href="static/assets/heroku.png">7/month for hosting via Heroku</a>. <br>
                I built CodeFinder as a passion project while being a student, and it's grown into a resource that many of you use daily. <br>
                The site is completely free - <b>I've never monetized it and cover all costs myself!</b> <br>
                I'm a student, and unfortunately <b>can't afford to pay for the domain and hosting out of my own pocket.</b> <br>
                I'd be incredibly grateful for any support you can offer to keep CodeFinder alive for another year. <br>
                If we don't reach the goal by May 1st, I promise to refund everyone who donated. <br>
                <b>If you want to help, donate any amount you can to <a id="paypal_link" role="link" title="My PayPal link" target="_blank" href="https://www.paypal.com/paypalme/DanielDekhtyar">PayPal</a>.</b></p>
                Thank you for your support! <br>
                <a role="link" title="My LinkedIn" href="https://www.linkedin.com/in/daniel-dekhtyar/" target="_blank">Daniel</a>
            </p>
        </div>

        <!-- Product hunt badge -->
        <!-- <div id="product-hunt-container">
            <a id="product-hunt-badge" href="https://www.producthunt.com/posts/code-finder?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-code&#0045;finder" target="_blank">
                <img id="product-hunt-img" src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=462813&theme=neutral" alt="Code&#0032;Finder - The&#0032;Ultimate&#0032;Search&#0032;Engine&#0032;for&#0032;GitHub&#0032;Repositories | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" />
            </a>
        </div> -->

        <!-- Hostage Counter -->
        <div id="bthn" lang="en" style="bottom: 7vh; left: 5vw;"></div>
        <!--
        <script>
            (function () {
                var script = document.createElement("script");
                script.type = "text/javascript";
                script.src = "https://bringthemhomenow.net/1.1.0/hostages-ticker.js";
                script.setAttribute(
                    "integrity",
                    "sha384-DHuakkmS4DXvIW79Ttuqjvl95NepBRwfVGx6bmqBJVVwqsosq8hROrydHItKdsne"
                );
                script.setAttribute("crossorigin", "anonymous");
                document.getElementsByTagName("head")[0].appendChild(script);
            })();
        </script> -->

        <!-- Filter modal -->
        <div class="modal" id="filter-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" role="text" type="text">Filters</h5>
                    <button type="button" class="close-modal-button" id="close-modal-button" data-dismiss="modal" aria-label="Close" onclick="closeFilterModal();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p id="filter-disclaimer">*The filter functionality is in beta</p>
                <div class="modal-body">
                    <div class="filter-option">
                        <p class="option-title" type="text">Language</p>
                        <div class="select" id="dropdownMenuButton">
                            <span>Select Language</span>
                            <div class="caret"></div>
                        </div>
                        <div class="menu" aria-labelledby="dropdownMenuButton">
                            <input type="search" id="search-input" placeholder="Search..." class="search-input" role="searchbox" autocomplete="off">
                            <ul id="option-list" class="option-list" role="options list" type="list">
                                {% for language in languages %}
                                    <li class="dropdown-item language-option" data-value="{{ language.name }}" role="option">
                                        {% if language.name == 'C#' %}
                                            {% set icon_name = 'C_sharp' %}
                                        {% elif language.name == 'F#' %}
                                            {% set icon_name = 'F_sharp' %}
                                        {% else %}
                                            {% set icon_name = language.name %}
                                        {% endif %}
                                        <img src="static/assets/languages/{{ icon_name }}.png" alt="{{ language.name }}" type="image" class="language-icon">
                                        {{ language.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                
                    <!-- By Author -->
                    <div class="filter-option">
                        <p class="option-title" type="text">Repository Author</p>
                        <div>
                            <input type="text" class="input-field" id="author-input" placeholder="Repository Author">
                        </div>
                    </div>
                
                    <!-- Last updated after -->
                    <div class="filter-option">
                        <p class="option-title" type="text">Last Update</p>
                        <div>
                            <input type="date" id="last-pushed-date" class="input-field" placeholder="Select Date">
                        </div>
                    </div>
                
                    <!-- Stars -->
                    <div class="filter-option">
                        <p class="option-title" type="text">Stars ⭐</p>
                        <div>
                            <input type="number" class="input-field" id="stars-input" placeholder="Minimum Stars">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-modal-button" id="modal-apply-button" data-dismiss="modal" onclick="applyFilters();">Apply</button>
                </div>
            </div>
        </div>
        <div id="modal-overlay" class="" onclick="closeFilterModal();"></div>

        <!-- Preload the image to make image loading time faster when hovering -->
        <link rel="preload" as="image" href="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=462813&theme=light" />
        <link rel="preload" as="image" href="static/assets/dice_hover.png" />
        <link rel="preload" as="image" href="static/assets/search_hover.png" />
        <link rel="preload" as="image" href="static/assets/filter_hover.png" />
        
        <script src="static/js/index.js"></script>
    </body>
    <footer id="footer">
        <!-- Footer links -->
        <p class="footer-link">
            <a class="footer-link" href="/about">About this website</a>
        </p>
        <p class="footer-link">
            <a class="footer-link" href="/contact-me">Contact me</a>
        </p>
        <p id="trademark">Made with ❤️ by <a id="made-with-love-link" role="link" title="My LinkedIn" href="https://www.linkedin.com/in/daniel-dekhtyar/" target="_blank">developers</a> for <a id="made-with-love-link" role="link" title="Steve Ballmer developers developers developers" href="https://www.youtube.com/watch?v=hMLcKtVwF-A" target="_blank">developers</a>&emsp;|&emsp;Code Finder&trade;</p>
    </footer>
</html>
